body{
  background-color: #F3F8FB;
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
}

.kartica:hover{
  box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
  transition-duration: 0.8s;
}

.dogadjaji{
  width: 1030px;
  margin: 0 auto;
  text-align: center;
  padding: 0 48px 0 48px;
}

h2{
  font-family: 'Merriweather', serif;
  color: #2764AD;
  font-size: 22px;
  margin: 56px 0 39px 0;
}

.kartica{
  width: 259px;
  color: #666;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  display: inline-block;
  margin: 0 4px 0 4px;
}

.kartica_datum{
  float: left;
  width: 25%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin right 18px;
  margin-top: -7px;
  min-height: 95px;
}

.kartica_datum_dan{
  font-size: 36px;
  color: #df0024;
  font-weight: 700;
}

.kartica_datum_godina{
  margin:4px 0 7px 0;
}

.kartica_naslov{
  width: 75%;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: inline;
  margin: 0 auto;
}

.kartica_naslov span{
  color: #fff;
  font-size: 11px;
  background-color: #df0024;
  border-radius: 5px;
  padding: 6px 6px 6px 7px;
  margin-left: 6px;
}

.kartica_info{
  clear: both;
  font-size: 13px;
  padding-top: 7px;
}

.kartica_info_vreme{
  background-image: url("images/calendar.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  padding-left: 24px;
  margin-bottom: 4px;
}

.kartica_info_mesto {
    background-image: url(images/map.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-bottom: 4px;
}
